.chart {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.blue {
  background-color: 	rgb(240,248,255);
  padding: 0 0 80px 0;
}

.yellow {
  background-color: 	rgb(255, 255, 240);
  padding: 0 0 80px 0;
}

.red {
  background-color: 	rgb(255, 240, 240);
  padding: 0 0 80px 0;
}
ol,
p {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 40px 10% 0px 10%;
}
.x.brush > rect:not(.overlay) {
  fill: red;
}

table, th, td {
  font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-size: 125%;
  width: 50%;
  text-align: center;
  border: 4px solid lightblue;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}
body {
  font: 10px sans-serif;
}

.axis path,
.axis line,
.axis1 path,
.axis1 line {
  fill: none;
  stroke: #E6E7E8;
  shape-rendering: crispEdges;
}

.x.axis path, .x.axis1 path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.legend-box {
  cursor: pointer;
}

#mouse-tracker {
  stroke: #E6E7E8;
  stroke-width: 1px;
}

.hover-line {
  stroke: #E6E7E8;
  fill: none;
  stroke-width: 1px;
  left: 10px;
  shape-rendering: crispEdges;
  opacity: 1e-6;
}

.hover-text {
  stroke: none;
  font-size: 30px;
  font-weight: bold;
  fill: #000000;
}

.tooltip {
  font-weight: normal;
}

.brush .extent {
  stroke: #FFF;
  shape-rendering: crispEdges;
}
